@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&family=Jockey+One&display=swap');

:root {
  --turq: #37e0c1;
  --green: #5bff89;
  --lightgrey: #f0f0f0;
  --grey: #656565;
  --black: #1c1c1c;
  --white: #F9F9F9;
  --gradient: linear-gradient(90deg, var(--turq) 0%, var(--green) 29%);
  --gradientRev: linear-gradient(270deg, var(--turq) 0%, var(--green) 29%);
  --gradientRed: linear-gradient(142deg, rgb(255 199 195) 0%, rgb(232 187 180) 46%, rgb(243 192 183) 100%);
}

* {
  box-sizing: border-box;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
}

body {
  /* font-family: 'Premier League W01', sans-serif; */
  font-family: 'Jockey One';
  font-weight: 500;
  color: var(--black);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 20px;
}

th {
  text-align: left;
}

th, td {
  padding: 0.1rem 0.75rem;
  max-height: 10px;
}

th.fixture-score, td.fixture-score {
  padding: 0 0;
  font-size: 1.25rem;
}

tr {
  background-color: var(--lightgrey);
}

.fixture-tr {
  height: 3.5rem;
}

.fixture-th {
  display: none;
}

.league-tr:nth-child(-n+6) {
  background: var(--gradient)
}

.league-tr:nth-last-child(-n+3) {
  background: var(--gradientRed);
}

.top-half .league-tr:nth-last-child(-n+3) {
  background: unset;
}

.bottom-half .league-tr:nth-child(-n+6) {
  background: unset;
}

.top-half .league-tr {
  background-color: var(--lightgrey);
}

/* Dark overlay color for every other row */
tr:nth-child(even) {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.025);
}

.customSelect {
  caret-color: transparent;
}

@media (max-width: 600px) {
  .fixture-th, .fixture-td {
    font-size: 0.5rem;
    padding: 0.1rem 0.25rem;
  }
  th, td {
    padding: 0.2rem 0.5rem;
    max-height: 10px;
  }
}

@media (min-width: 1441px) {
  .fixture-tr {
    height: 4.5rem;
  }
}