@font-face {
    font-family: 'Premier League W01';
    src: url('PremierLeagueW01-LightIt.eot');
    src: local('Premier League W01 Light Italic'), local('PremierLeagueW01-LightIt'),
        url('PremierLeagueW01-LightIt.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-LightIt.woff2') format('woff2'),
        url('PremierLeagueW01-LightIt.woff') format('woff'),
        url('PremierLeagueW01-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01';
    src: url('PremierLeagueW01-BoldItalic.eot');
    src: local('Premier League W01 Bold Italic'), local('PremierLeagueW01-BoldItalic'),
        url('PremierLeagueW01-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-BoldItalic.woff2') format('woff2'),
        url('PremierLeagueW01-BoldItalic.woff') format('woff'),
        url('PremierLeagueW01-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01 Cond';
    src: url('PremierLeagueW01-CondBold.eot');
    src: local('Premier League W01 Cond Bold'), local('PremierLeagueW01-CondBold'),
        url('PremierLeagueW01-CondBold.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-CondBold.woff2') format('woff2'),
        url('PremierLeagueW01-CondBold.woff') format('woff'),
        url('PremierLeagueW01-CondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01';
    src: url('PremierLeagueW01-Light.eot');
    src: local('Premier League W01 Light'), local('PremierLeagueW01-Light'),
        url('PremierLeagueW01-Light.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-Light.woff2') format('woff2'),
        url('PremierLeagueW01-Light.woff') format('woff'),
        url('PremierLeagueW01-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01';
    src: url('PremierLeagueW01-Bold.eot');
    src: local('Premier League W01 Bold'), local('PremierLeagueW01-Bold'),
        url('PremierLeagueW01-Bold.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-Bold.woff2') format('woff2'),
        url('PremierLeagueW01-Bold.woff') format('woff'),
        url('PremierLeagueW01-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01';
    src: url('PremierLeagueW01.eot');
    src: local('Premier League W01'), local('PremierLeagueW01'),
        url('PremierLeagueW01.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01.woff2') format('woff2'),
        url('PremierLeagueW01.woff') format('woff'),
        url('PremierLeagueW01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01 Condensed';
    src: url('PremierLeagueW01-Condensed.eot');
    src: local('Premier League W01 Condensed'), local('PremierLeagueW01-Condensed'),
        url('PremierLeagueW01-Condensed.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-Condensed.woff2') format('woff2'),
        url('PremierLeagueW01-Condensed.woff') format('woff'),
        url('PremierLeagueW01-Condensed.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Premier League W01';
    src: url('PremierLeagueW01-Italic.eot');
    src: local('Premier League W01 Italic'), local('PremierLeagueW01-Italic'),
        url('PremierLeagueW01-Italic.eot?#iefix') format('embedded-opentype'),
        url('PremierLeagueW01-Italic.woff2') format('woff2'),
        url('PremierLeagueW01-Italic.woff') format('woff'),
        url('PremierLeagueW01-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

